html * {
  /* font-family: Arial, sans-serif !important; !important means that font-family can't be overwritten */
  font-family: NikkyouSans;
}

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  background-image: url("./img/raffle_bg.png");
}

@font-face {
  font-family: NikkyouSans;
  src: url(NikkyouSans-mLKax.ttf);
}

/* raffle body  */
.raffle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  float:left;
  max-width:100%;
}

.raffleBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 23.5vw; /* You may adjust this based on your layout */
  z-index: -1;
}

/* Slots*/
.slot {
  width: 22.7vw;
  height: calc(22.7vw / 5); /* Replace [Your Aspect Ratio] with the aspect ratio of your slot */
  border: 3px solid #471E20;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  background-color: #fffede;
}

#slot0 {
  clip-path: polygon(0 50%, 0 100%, 100% 100%, 100% 50%);
  /* background-color: #f0f0f0;
  border-color: #f0f0f0;
  color: #f0f0f0; */
}

/* #slot1 {
  clip-path: polygon(0 0, 0 60%, 100% 60%, 100% 0);
  background-color: #f0f0f0;
  border-color: #f0f0f0;
  border-bottom: #471E20;
  color: #f0f0f0;
}

#slot8 {
  clip-path: polygon(0 0, 0 60%, 100% 60%, 100% 0);
  background-color: #f0f0f0;
  border-top: #471E20;
  border-color: #f0f0f0;
  border-bottom: #471E20;
  color: #f0f0f0;;
} */

#slot9 {
  clip-path: polygon(0 0, 0 60%, 100% 60%, 100% 0);
  /* background-color: #f0f0f0; */
  border-color: #fffede;
  color: #fffede;
  border-top: #471E20;
  border-top-width: 6px;
}
/* edges */
.edge {
  width: 21vw;
  height: 10vh;
  background-color: #f0f0f0;
}

#top {
  margin-bottom: -12vh;
  background-color: #f0f0f0;
}

#bottom {
  margin-top: -4vh;
  background-color: #f0f0f0;
}

/* overlay  */
.frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: static;
  flex: 1;
  max-width: 45%;
  /*background-color: #f0f0f0;*/
}

#slotframe {
  width: 40vw; 
  height: auto; /* This ensures the image height scales with its width */
  object-fit: cover; /* This ensures the image maintains its aspect ratio */
  position: static;
}

/*animation*/
.Animation {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  position: absolute;
  flex: 1;
  margin-top: 55vh;
}

#animation_frame {
  max-width: 35%;
  max-height: auto;
  /*position: relative;*/
}

.Animation:hover {
  border-color: black;
  border-radius: 10px;
}

/* button (WILL PROB REMOVE SOON)*/
.LowerRaffle {
  margin-top: 1vh;
}

/*modal*/
.ReactModal__Co

.modal {
  z-index: 10;
  align-items: center;
  overflow:hidden;
}

.modal * {
  z-index: inherit;
}

.modal-content {
  display:flex;
  align-items:center;
  justify-content: center;
  flex-direction: row;
  background-color: #c5f3da;
  margin: 2vh;
  padding: 3%;
  border: 1px solid #888;
  width: 90%;
  height: 100%;
  z-index: 2;
  text-align: center;
  flex-wrap: wrap;
}

.winner {
  text-align: center;
  font-size: 2.5rem;
  max-width: 60%;
  height: 100%;
  margin: 0 auto;
}

.modal_logo {
  max-width:20%
}

#modal_right {
  transform: scaleX(-1);
}

.close {
  color: #fffede;
  float: right;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Arial;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.ok {
  display:flex;
  align-items:center;
  justify-content: center;
}

.winButton {
  display: block; /*change to block if it's not within a flex container*/
  margin: auto ;
  align-self: center;
  background-color: #fffede;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.winButton:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.winButton:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}
